APP_ENV=local

# MQTT Configuration
MQTT_BROKER=tcp://localhost:1883
MQTT_CLIENT_ID=irrigation-system
MQTT_USERNAME=
MQTT_PASSWORD=

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_secure_password
DB_NAME=irrigation
DB_SSLMODE=disable

# Schedule Configuration
SCHEDULE_TIMES="07:00,16:11" # Comma-separated list of HH:MM times to run the schedule
SCHEDULE_DURATION=30         # Default duration in minutes (can be overridden by task files)

# Path to the device and task configuration file
DEVICE_CONFIG_PATH=./devices.json

# Slack Configuration
SLACK_BOT_TOKEN=""
SLACK_CHANNEL_ID=""
SLACK_SIGNING_SECRET=""
